html {
  font-size: 16px;
  background: #223c61 url(https://s3.amazonaws.com/tboe-static/snowflake2015/snowflake_share_bg.jpg);
}

body {
  margin: 0;
}

/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("fonts/montserrat-v13-latin-800.woff2") format("woff2"), url("fonts/montserrat-v13-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: local("Montserrat Black"), local("Montserrat-Black"), url("fonts/montserrat-v13-latin-900.woff2") format("woff2"), url("fonts/montserrat-v13-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/open-sans-v16-latin-regular.woff2") format("woff2"), url("fonts/open-sans-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("fonts/open-sans-v16-latin-700.woff2") format("woff2"), url("fonts/open-sans-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.header {
  background: #fffdf0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header .container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 10px;
  width: 100%;
}
.header .container .tboe-logo {
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 45px;
  text-decoration: none;
  padding: 15px 0;
}
.header .container .tboe-logo:active, .header .container .tboe-logo:link, .header .container .tboe-logo:visited {
  color: #000;
}

.snowflake {
  display: block;
  width: 450px;
  padding: 100px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .snowflake {
    zoom: 60%;
    margin: 100px auto 10px auto;
  }
}
@media (max-width: 380px) {
  .snowflake {
    zoom: 50%;
  }
}
.snowflake #snowflake_maker {
  position: relative;
  left: 40px;
  margin: 0 auto;
  width: 450px;
  height: 450px;
}
.snowflake #snowflake_holder {
  width: 450px;
  height: 512px;
  font-family: cursive;
  margin: 0 auto;
  position: relative;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  user-select: none;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  color: #fff !important;
  opacity: 1;
  z-index: 1;
}
.snowflake .arm {
  height: 80px;
  width: 256px;
  position: absolute;
  right: 256px;
  /* half main width */
  top: 216px;
  /* half main width - half arm height */
  vertical-align: middle;
}
.snowflake .text_holder {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  left: 0px;
  top: 0px;
}
.snowflake .text_holder.bottom {
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  top: 40px;
}
.snowflake .char {
  float: left;
}
.snowflake .rotate_pin {
  transform-origin: 100% 50%;
}

.name {
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 550px;
  padding: 100px;
  font-family: "Open Sans";
  font-weight: 300;
  text-transform: lowercase;
  line-height: 2.5rem;
  font-size: 2.5rem;
  color: #fff !important;
}
@media (max-width: 480px) {
  .name {
    line-height: 1.5rem;
    font-size: 1.5rem;
    padding: 50px;
  }
}

.form .container {
  margin: 0 auto;
  text-align: center;
}
.form .container input {
  background: #fff;
  border-color: #000;
  font-size: 2rem;
  padding: 0.8rem;
}
@media (max-width: 480px) {
  .form .container input {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}


/*# sourceMappingURL=app.css.map*/